{% extends 'layout.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1><span>Welcome to</span> FitzBundle</h1>
    </div>

    <div id="next">
        <h2>Pick the bundles you need in your application</h2>
        <form method="post" action="{{ path('hugo_soltys_fitz_install') }}" name="bundles">
            {% for bundle, infos in availableBundles %}
                <div class="col">
                    <label for="{{ bundle }}">
                        <input type="checkbox" name="{{ bundle }}" id="{{ bundle }}" value="{{ bundle }}">
                        {{ bundle }}
                    </label>
                    <small class="doclink">
                        <a href="{{ infos.documentation }}" target="_blank">
                            See the documentation
                        </a>
                    </small>
                </div>
                {% if loop.index == 3 %}
                    <div class="clear"></div>
                {% endif %}
            {% endfor %}
            {#<div class="col">#}
                {#<label for="api">#}
                    {#<input type="checkbox" name="api" id="api">#}
                    {#API Platform#}
                {#</label>#}
                {#<small class="doclink">#}
                    {#<a href="https://api-platform.com/docs/" target="_blank">#}
                        {#See the documentation#}
                    {#</a>#}
                {#</small>#}
            {#</div>#}
            <div class="clear"></div>
            <input type="submit" value="Install">
        </form>
    </div>
{% endblock %}