{% extends '@Fitz/layout.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1><span>Welcome to</span> FitzBundle</h1>
    </div>

    <div id="next">
        <form method="post" action="{{ path('hugo_soltys_fitz_install') }}" name="bundles">
            <h2>Pick the bundles you need in your application</h2>
            <p>
                After clicking the Install button, please run the following command in your terminal.
            </p>
            <p>
                <code>bin/console fitz:install</code>
            </p>
            <div id="searchform">
                <input id="search" name="search" type="text" placeholder="Search a bundle">
            </div>
            <div id="submitform">
                <input type="submit" value="Install">
            </div>
            <div class="clear"></div>

            <div id="hideinput">
                <label for="hideinstalled" class="noselect">
                    <input type="checkbox" name=hideinstalled" id="hideinstalled">
                    Hide installed bundles
                </label>
            </div>

            {% for bundle, infos in availableBundles %}
                <div class="col">
                    <label for="{{ bundle }}" class="noselect">
                        <input type="checkbox" name="bundles[{{ bundle }}]" id="{{ bundle }}" value="{{ bundle }}" {% if bundle in installedBundles or bundle in installing %}checked disabled{% endif %}>
                        {{ bundle }}
                    </label>
                    <small class="composername">
                        {{ infos.composer_name }}
                    </small>
                    <small class="doclink">
                        <a href="{{ infos.documentation }}" target="_blank">
                            Read the documentation
                        </a>
                    </small>
                    {% if bundle in installedBundles %}
                        <p class="installed">
                            ✅ Installed
                        </p>
                    {% elseif bundle in installing and bundle not in installedBundles %}
                        <p class="installing">
                            👍 Ready to install
                        </p>
                    {% else %}
                        <p class="ready">
                            Check to install
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="clear"></div>
        </form>
    </div>
{% endblock %}