{% extends '@Fitz/layout.html.twig' %}

{% block styles %}
    <style>
        #welcome h1 span { display: block; font-size: 75%; }
        #comment p { margin-bottom: 0; }
        .col { width: 237px; display: block; float: left; margin-right: 5px; margin-bottom: 5px; padding: 10px 5px; background: rgba(91,192,222,0.2); min-height: 100px; border-left: 2px solid #5bc0de;}
        .clear {clear: both;}
        .doclink {display: block; padding-left: 20px; font-size: 13px;}
        .composername {display: block; padding-left: 20px; font-size: 13px;}
        input[type="submit"] {font-size: 20px;background: #5bc0de;color: white;border-radius: 3px;padding: 10px 15px;outline: none;}
        .installed {color: #5cb85c; margin: 10px 0 0 0; padding-left: 20px; font-size: 13px;}
        .installing {color: #f0ad4e;  margin: 10px 0 0 0; padding-left: 20px; font-size: 13px;}
        .ready {color: #5bc0de;  margin: 10px 0 0 0; padding-left: 20px; font-size: 13px;}
        label {font-size: 13px; margin-bottom: 10px; display: block;}
        #searchform {margin: 0 0 10px 0;}
        #submitform {position: fixed;height: 70px;background: white;width: 800px;bottom: 0;left: 50%;transform: translateX(-50%);text-align: center;padding-top: 30px;border-top: 1px solid #5bc0de;}
        form {position: relative; margin-bottom: 100px;}
        #search {padding: 10px 5px; outline: none; width: 744px; font-size: 20px;}
        .hide {display: none;}
        .noselect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;}
        #next { min-height: 800px; }
        .alert {color: #856404;background-color: #fff3cd;border-color: #ffeeba;position: relative;padding: .75rem 1.25rem;margin-bottom: 1rem;border: 1px solid transparent;border-radius: .25rem;font-size: 15px;}
    </style>
{% endblock %}

{% block body %}
    <div id="welcome">
        <h1><span>Welcome to</span> FitzBundle</h1>
    </div>

    <div id="next">
        <form method="post" action="{{ path('hugo_soltys_fitz_install') }}" name="bundles">
            <ol>
                <li>
                    Choose the bundles you need in your application in the below list
                </li>
                <li>
                    Click on the <code>SUBMIT</code> button
                </li>
                <li>
                    Run the <code>bin/console fitz:install</code> command in your terminal
                </li>
            </ol>
            {% if installing|length > 0 %}
                <div class="alert alert-warning" role="alert">
                    You have <strong>{{ installing|length }}</strong> bundles ready to install.<br>
                    Please run <code>bin/console fitz:install</code> command in your terminal.
                </div>
            {% endif %}
            <div id="searchform">
                <input id="search" name="search" type="text" placeholder="Search within {{ availableBundles|length }} available bundles...">
            </div>
            <div id="hideinput">
                <label for="hideinstalled" class="noselect">
                    <input type="checkbox" name=hideinstalled" id="hideinstalled" checked="checked">
                    Hide installed bundles
                </label>
            </div>

            {% for bundle, infos in availableBundles %}
                <div class="col">
                    <label for="{{ bundle }}" class="noselect">
                        <input type="checkbox" name="bundles[{{ bundle }}]" id="{{ bundle }}" value="{{ bundle }}" {% if bundle in installedBundles or bundle in installing %}checked disabled{% endif %}>
                        {{ bundle }}
                    </label>
                    <small class="composername">
                        {{ infos.composer_name }}
                    </small>
                    <small class="doclink">
                        <a href="{{ infos.documentation }}" target="_blank">
                            Read the documentation
                        </a>
                    </small>
                    {% if bundle in installedBundles %}
                        <p class="installed">
                            ✅ Installed
                        </p>
                    {% elseif bundle in installing and bundle not in installedBundles %}
                        <p class="installing">
                            👍 Ready to install
                        </p>
                    {% else %}
                        <p class="ready">
                            Check to install
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="clear"></div>
            <div id="submitform">
                <input type="submit" value="SUBMIT">
            </div>
        </form>
    </div>
{% endblock %}